.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list {
    scrollbar-width: none;
}

.explore-menu-list-item img {
    cursor: pointer;
}

.explore-menu-list-item.active {
    border:5px solid tomato;
    padding: 2px;
}

.explore-menu-list-item p {
    color: #747474;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}

.scroll-icon {
    font-size: 34px;
    cursor: pointer;
    margin-left: 10px;
    color: #747474;
    transition: color 0.2s;
}

.scroll-icon:hover {
    color: tomato;
}

.scroll-icon:active {
    color: tomato;
    transform: scale(0.95);
}

@media only screen and (max-device-width: 480px) {
    .scroll-icon {
        display: none;
    }
}

.explore-menu hr {
    margin:  10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
}

.explore-menu-list-item:hover img {
    box-shadow: 0 0 6px #e2e2e2;
    transform: scale(0.95);
}

.explore-menu-list-item img {
    transition: transform 0.3s ease-in-out;
}